.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;

  /* 
  margin: 1rem; */
}

@media screen and (max-width: 600px) {
  .tipAmount__container {
    display: flex;
    flex-direction: column;
  }
}

/* .form__output {
  background-color: lightgray;
} */

.form__output--container {
  margin: 10px;
  padding: 25px;
}

h1 {
  font-size: 3.5rem;
  margin: 2rem 1rem 2rem 4rem;
  padding: 0 0.5rem 0.5rem 1rem;
  width: 250px;
  background-color: #93e9be;
  box-shadow: 10px 10px #529c77;
  /* extra color -- L:#93e9be M:#47d990 D:#529C77 */
}

h2 {
  font-size: 4rem;
  margin: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin: 1.5rem;
}

h4 {
  font-size: 2.25rem;
  margin: 1.5rem 1.5rem 1.5rem 2.5rem;
}

p {
  font-size: 1.75rem;
  margin: 1.5rem 1.5rem 1.5rem 3rem;
}
